<!doctype html>
<html lang="en" data-framework="angularjs">
	<head>
		<meta charset="utf-8">
		<title>Appstart • App Engine Java Boilerplate Template</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<link rel="stylesheet" href="node_modules/angular-toastr/angular-toastr.min.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

		<style>
			[ng-cloak] { display: none; }
			#config {
				text-align: center;
			}

		</style>
	</head>
	<body ng-app="todomvc">
		<ng-view />

		<script type="text/ng-template" id="todomvc-index.html">
		  <section id="config">
					<h2>Which API would you like to use?</h2>
					<input type="radio" id="jerseyrest" name="endpoint-type" value="jerseyrest" ng-model="endpointType" checked>
					<label 	for="jerseyrest">
						Jersey REST
					</label>

					<input type="radio" id="cloudendpoints" name="endpoint-type" value="cloudendpoints" ng-model="endpointType">
					<label for="cloudendpoints">
						Cloud Endpoints (Unauthenticated)
					</label>

					<input type="radio" id="cloudendpointsauth" name="endpoint-type" value="cloudendpointsauth" ng-model="endpointType">
					<label for="cloudendpointsauth">
						Cloud Endpoints (Authenticated)
					</label>

					<div ng-show="endpointType == 'cloudendpointsauth'">
						<button class="auth btn btn-primary" onclick="appstart.auth();" style="display: none;">
							<i class="fa fa-lock"></i>
		          Authenticate
		        </button>
					</div>
			</section>
			<section id="todoapp">
				<header id="header">
					<h1>todos</h1>
					<form id="todo-form" ng-submit="addTodo()">
						<input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" ng-disabled="saving" autofocus>
					</form>
				</header>
				<section id="main" ng-show="todos.length" ng-cloak>
					<input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
					<label for="toggle-all">Mark all as complete</label>
					<ul id="todo-list">
						<li ng-repeat="todo in todos | filter:statusFilter track by $index" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
							<div class="view">
								<input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="toggleCompleted(todo)">
								<label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
								<button class="destroy" ng-click="removeTodo(todo)"></button>
							</div>
							<form ng-submit="saveEdits(todo, 'submit')">
								<input class="edit" ng-trim="false" ng-model="todo.title" todo-escape="revertEdits(todo)" ng-blur="saveEdits(todo, 'blur')" todo-focus="todo == editedTodo">
							</form>
						</li>
					</ul>
				</section>
				<footer id="footer" ng-show="todos.length" ng-cloak>
					<span id="todo-count"><strong>{{remainingCount}}</strong>
						<ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
					</span>
					<ul id="filters">
						<li>
							<a ng-class="{selected: status == ''} " href="#/">All</a>
						</li>
						<li>
							<a ng-class="{selected: status == 'active'}" href="#/active">Active</a>
						</li>
						<li>
							<a ng-class="{selected: status == 'completed'}" href="#/completed">Completed</a>
						</li>
					</ul>
					<!-- <button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear completed</button> -->
					<button id="refresh-todos" ng-click="refresh()"><i class="fa fa-refresh"></i> Refresh</button>
				</footer>
			</section>
			<footer id="info">
				<p>Double-click to edit a todo</p>
				<p>Appstart:
					<a href="https://github.com/omerio/appstart">https://github.com/omerio/appstart</a>
				</p>
				<p>Frontend based on <a href="http://todomvc.com">TodoMVC</a></p>
			</footer>
		</script>
		<script src="node_modules/todomvc-common/base.js"></script>
		<script src="node_modules/angular/angular.js"></script>
		<script src="node_modules/angular-route/angular-route.js"></script>
		<script src="node_modules/angular-resource/angular-resource.js"></script>
		<script src="node_modules/angular-animate/angular-animate.js"></script>
		<script src="node_modules/angular-toastr/angular-toastr.tpls.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/endpoint.js"></script>
		<script src="js/controllers/todoCtrl.js"></script>
		<script src="js/services/todoStorage.js"></script>
		<script src="js/directives/todoFocus.js"></script>
		<script src="js/directives/todoEscape.js"></script>
		<!-- Google JavaScript client for Cloud Endpoints Auth -->
		<script src="//apis.google.com/js/client.js?onload=apiClientInit"></script>
	</body>
</html>
